<launch>
  <!-- <arg name="namespace" default="aaa"/>   -->

  <rosparam command="load" file="$(find rmi_driver)/config/rmi_driver_config.yaml" />

  <!-- <node name="rmi_driver" pkg="rmi_driver" type="rmi_driver_node" output="screen" /> -->

  <!-- <node name="ur_joint_trajectory_action" pkg="rmi_driver" type="joint_trajectory_action.py" output="screen" />
  <node name="ur_joint_trajectory_action2" pkg="rmi_driver" type="joint_trajectory_action2.py" output="screen" /> -->
    
  
</launch>